@tailwind base;
@tailwind components;
@tailwind utilities;    


.Products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 40px; */
    /* width: 100%; */
}


.container{
    width:1600px ;
 
}
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* @font-face {
    font-family: 'Futura_T';
    src: url(../src/components/fonts/Nunito-Bold.ttf);
  }
  @font-face {
    font-family: 'Futura_PT';
    src: url(../src/components/fonts/Nunito-Regular.ttf);
  }
  @font-face {
    font-family: 'Futura_M';
    src: url(../src/components/fonts/Tajawal-Medium.ttf);
  } */
  
 
  
  .container {
    padding: 0;
    /* max-width: 1380px; */
    margin: 10px auto;
  }
  
  .list {
    display: flex;
    gap: 15px;
    list-style: none;
  }
  
  .item {
    font-family: 'Futura_PT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #3a3a3a;
  }
  .item:hover {
  
    box-shadow: 15px 15px 6px rgba(220, 190, 225, 0.8);
    border-radius: 20px;
  }
  
  .logo_title {
    font-family: 'Futura_T';
    font-style: normal;
    font-weight: 450;
    font-size: 30px;
    line-height: 38px;
    color: #3a3a3a;
  }
  
  .number {
    font-family: 'Futura_PT';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
  }
  .data {
    font-family: 'Futura_PT';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
  
    color: #3a3a3a;
  }
  
  .slider {
    margin-top: 60px;
    width: 1320px;
    height: 435px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    padding: 70px;
    overflow: hidden;
  }
  
  .slice-btn {
    background: darkgray;
    color: black;
    border-radius: 50%;
    margin-top: 195px;
    border-radius: 50px;
    width: 45px;
    height: 45px;
  }
  .slice-btn:hover {
    background: black;
  }
  
  .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  
  .Products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }
  .product_card:hover {
    width: 320px;
  
    background: #ffffff;
    box-shadow: 29px 25px 5px rgba(209, 159, 218, 0.8);
    border-radius: 10px;
  }
  
  .product_card {
    width: 320px;
    height: 400px;
  
    background: #ffffff;
    box-shadow: 9px 4px 20px rgba(220, 190, 225, 0.8);
    border-radius: 10px;
  }
  
  .card_h3 {
   
  display: flex;
    font-weight: 400;
    font-size: 25px;
    margin-top: 50px;
    /* line-height: 33px; */
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.1em;
    color: #3a3a3a;
    /* width: 590px; */
    /* margin-top: 50px; */
    gap: 40px;
    text-align: right;
  }
  .card_h3:nth-child(2) {
    display: flex;
    justify-content: end;
  }
  
  .price {
    font-family: 'Futura_PT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: contents;
    justify-content: left;
    color: #bababa;
  }
  .product_img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
  }
  
  .product_title {
    font-family: 'Futura_T';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    color: #3a3a3a;
    margin-top: 10px;
  }
  
  .product_p {
    font-family: 'Futura_PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: #bababa;
  }
  
  .product_price {
    font-family: 'Futura_T';
    font-style: normal;
    font-weight: 450;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */
  
    color: #3a3a3a;
    margin-top: 10px;
  }
  .P_title {
    display: contents;
    justify-content: left;
  }
  
  .menu {
    text-decoration: none;
    direction: none;
  }
  
  .liked {
    text-align: right;
  }
  .icons {
    display: flex;
    gap: 35px;
  }
  
  .karzin {
    display: none;
  }
  .search {
    display: block;
  }
  
  .banner {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1320px;
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
  }
  .like {
    display: none;
  }
  
  .card_img3 {
    display: contents;
  }
  .next {
    position: relative;
    left: -73px;
    top: 20px;
  }
  .product_titlee {
    font-family: 'Futura_PT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
    color: #3a3a3a;
  }
  
  ul {
    list-style: none;
  }
  
  .footer_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 158px;
  }
  
  .footer_list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 158px;
    height: 500px;
  }
  
  .footer_title {
  
    font-family: 'Futura_T';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  width: 136px;
    color: #3a3a3a;
    margin-bottom: 40px;
  }
  .footer_item {
    font-family: 'Futura_T';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    height: 35px;
    color: #3a3a3a;
    width: 176px;
    height: 25px;
    margin-bottom: 25px;
  }
  .footer_item_m{
    font-family: 'Futura_PT';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  
  color: #BABABA;
  }
  
  input{
  width: 160px;
  height: 48px;
  background: #F5F5F5;
  border-radius: 5px;
  border: none;
  
  }
  .footer_btn{
    
  width: 48px;
  height: 48px;
  border: none;
  background: #BABABA;
  border-radius: 5px;
  }
  .footer_icons{
    column-gap: 5px;
  }
  
  @media only screen and (max-width: 850px) {
    .item {
      display: none;
    }
    .navbar_num {
      display: none;
    }
    .icons {
      display: none;
    }
    .search {
      display: block;
    }
    .product_card {
      width: 150px;
    }
    .karzin {
      background: #c6aa83;
      border: none;
      border-radius: 5px;
      display: block;
      width: 180px;
      height: 36px;
      color: #ffff;
    }
  
    .like {
      padding: top 15px;
      display: block;
    }
  
    .card_h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
  
      flex-wrap: wrap;
      letter-spacing: 0.1em;
      color: #3a3a3a;
      gap: 40px;
      text-align: right;
    }
    .product_title {
      display: inline;
    }
    .banner:nth-child(2){
  width: 390px;  }
   .banner3{
    width: 390px;
   } 
   .footer_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 360px;
   }
   .card_h3:nth-child(2
   ){
    display: none;
   }
  }
  